.navigation {
    /* navigation */
    padding: 10px 0 10px;
}

.navigation__list {
    list-style: none;
    display: inline-block;
}

.navigation__link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid black;
}

.navigation__button {
    border-radius: 5px 5px 5px 5px/5px 5px;
}

.navigation__link:hover {
    background-color: rgb(221, 221, 221);
}

.navigation__link:focus {
    outline: 2px dotted black;
    border: none;
}
.navigation__opositeTheme {
    background-image: linear-gradient(to bottom,
            rgba(255, 0, 0, 0.90),
            rgba(255, 94, 0, 0.90),
            rgba(255, 217, 0, 0.90),
            rgba(29, 250, 0, 0.90),
            rgba(0, 0, 255, 0.90))
}